@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  /* overflow: hidden; */
}

.container {
  height: 100%;
  width: 100%;
  /* overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
}

.max-width {
  /* max-width: 1300px; */
  padding: 0 80px;
  margin: auto;
}

/* nabar */
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  z-index: 99;
}

.navbar.sticky {
  background: #ef4565;
  padding: 15px 0;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}

.navbar .logo a span {
  color: #ef4565;
  transition: color 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}
.navbar .menu > .nav__item {
  list-style: none;
  display: inline-block;
}

.navbar .menu .nav__item > a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu .nav__item > a:hover {
  color: #ef4565;
  transition: all 0.3s ease;
}

.navbar.sticky .menu .nav__item > a:hover {
  color: #fff;
}
/* Menu Button Styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  height: 45px;
  width: 42px;
  position: fixed;
  background-color: #ef4565;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/* home section */
.home {
  display: flex;
  background-color: #90b4ce;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;
  margin: 7px 0;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 10px 0;
}

.home .home-content .text-3 span {
  color: #094067;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background-color: #ef4565;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #ef4565;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: #fff;
  background: none;
}

/* Apply to all similar content */
section {
  padding: 100px 0;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

section .title::before {
  content: '';
  position: absolute;
  width: 180px;
  bottom: 0px;
  left: 50%;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  font-size: 20px;
  bottom: -12px;
  left: 50%;
  color: #ef4565;
  padding: 5px;
  background: #fff;
  transform: translate(-50%);
}

/* My Skills Section */

.skills,
.projects,
.contact {
  font-family: 'Poppins', sans-serif;
}

.skills .title::after {
  content: 'my skills';
}

.skills .about-content,
.projects,
.projects-content,
.contact .contact-content {
  display: flex;
}

.skills .about-content .text {
  width: 400px;
  text-align: justify;
}
.skills .about-content .text span {
  color: #ef4565;
}

.skills .about-content .left {
  width: 30%;
}

.skills .about-content .left a {
  display: inline-block;
  font-weight: 500;
  background-color: #ef4565;
  color: #fff;
  font-size: 20px;
  padding: 12px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #ef4565;
  transition: all 0.3s ease;
}

.skills .about-content .left a:hover {
  color: #ef4565;
  background: none;
}

.skills .about-content .right {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

.skills .about-content .right h3 {
  margin-bottom: 10px;
}

/* Projects Section */
.projects {
  background-color: #111;
  color: #fff;
}

.projects .title::before {
  background-color: #fff;
}

.projects .title::after {
  content: 'my projects';
  background-color: #111;
}

.projects .projects-content {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.projects .projects-content .card {
  width: calc(33% - 20px);
  background-color: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
}

.projects .projects-content .card:hover {
  background-color: #ef4565;
}

.projects .projects-content .card .box {
  transition: all 0.3s ease;
}

.projects .projects-content .card:hover .box {
  transform: scale(1.05);
}

.projects .projects-content .card:hover i {
  color: #fff;
}

.projects .projects-content .card i {
  font-size: 50px;
  color: #ef4565;
  transition: color 0.3s ease;
}

.projects .projects-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0px 7px 0px;
}

.contact .title::after {
  content: 'get in touch';
}

.contact .contact-content {
  justify-content: space-between;
  align-items: center;
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: #ef4565;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #333;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  padding: 0 15px;
  outline: none;
  border-radius: 6px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button {
  height: 47px;
  width: 170px;
}

.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid #ef4565;
  background-color: #ef4565;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact .right form .button button:hover {
  color: #ef4565;
  background: none;
}

/* Responsive media query */
@media (max-width: 1475px) {
  .skills .about-content .right {
    grid-template-columns: 1.75fr 1.75fr 0.9fr;
    margin-left: 50px;
  }
}

@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }

  .skills .about-content {
    flex-direction: column;
  }
  .skills .about-content .left {
    width: 400px;
    text-align: center;
    margin: 0 auto 70px;
  }

  .skills .about-content .right {
    grid-template-columns: 1.5fr 1.5fr 0.5fr;
    margin-left: 0px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: '\f00d';
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu .nav__item {
    display: block;
  }

  .navbar .menu .nav__item a {
    display: inline-block;
    margin: 40px 0;
    font-size: 25px;
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }

  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }

  .projects .projects-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .contact .contact-content {
    display: block;
  }

  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }

  .home .home-content a {
    font-size: 20px;
  }
  .skills .about-content .left a {
    font-size: 1rem;
  }

  .projects .projects-content .card {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .skills .about-content .right {
    gap: 2.5rem;
  }
  .skills .max-width {
    padding: 40px;
  }
} ;
